<form>
<div class="container Search" >
  <div class="row">
  <div class="col-lg-12" style="padding-top: 400px;">
  </div>
  </div>
</div>
    <h3 class="heading">Search Hotel</h3>
    <table class="table Search" align="center">
      <tr>
        <td class="td control">City</td>
        <td>
          <input type="text" class="form-control" placeholder="Enter city" value="" pattern="[A-Za-z]{3,}" required/>
        </td>
      </tr>

      <tr>
        <td class="td control">Check-In Date</td>
        <td>
          <input type="date" id="check_in_date" name="check_in_date"  placeholder="check-in date" required>
        </td>
      </tr>

      <tr>
        <td class="td control">Check-out Date</td>
        <td>
          <input type="date" id="check_out_date" name="check_out_date" placeholder="check-in date" required>
        </td>
      </tr>
   <tr>
      
    </tr>
    </table>
    <br>
    <button type="submit" class="btn btn-outline-primary">Check</button>
  
</form>
